# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ipynb_checkpoints/
.venv/
.env

# Data / models (keep your main model file; exclude large datasets)
AxialDataset/
*.ckpt
*.h5
*.npz
*.zip
*.7z
*.rar
*.tar
*.tar.gz

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
